.scroll-indicator {
    margin-top: 80px;
    position: absolute;
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Adjust to center properly */
    text-align: center;
}

.scroll-text {
    margin-top: 8px;
    font-size: 16px;
    color: #fff;
    animation: fadeIn 2s infinite;
}

.arrow {
    display: inline-block;
}

.bounce {
    animation: bounce 2s infinite;
}

.arrow-icon {
    font-size: 30px;
    color: #0a40e3;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-8px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}