.transparent-container {
    width: 100vw;
    min-height: 600px;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    /* Ensures text and inline elements are centered */
}

h3 {
    margin: 20px 0;
    color: white;
    font-size: 40px;
}

.indicator {
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
    /* Centers the indicator */
    width: 100%;
    /* Ensures full width usage */
}